<div id="styleModal">
  <div id="styleFilter">
    <p>tbd</p>
    <button type="button" onclick="closeModal()">Close</button>
  </div>
</div>
<div id="dateModal">
  <div id="dateFilter">
    <p>tbd</p>
    <button type="button" onclick="closeModal()">Close</button>
  </div>
</div>
<div id="mediumModal">
  <div id="mediumFilter">
    <p>tbd</p>
    <button type="button" onclick="closeModal()">Close</button>
  </div>
</div>
<div id="sizeModal">
  <div id="sizeFilter">
    <p>tbd</p>
    <button type="button" onclick="closeModal()">Close</button>
  </div>
</div>

<div class="body">
  <div class="row">
    <div class="col-md-6">
      <div id="styleCatagory" onclick="styleModalShow()">
        <h3>Style</h3>
      </div>
      <div id="dateCatagory" onclick="dateModalShow()">
        <h3>Date</h3>
      </div>
    </div>
    <div class="col-md-6">
      <div id="mediumCatagory" onclick="mediumModalShow()">
        <h3>Medium</h3>
      </div>
      <div id="sizeCatagory" onclick="sizeModalShow()">
        <h3>Size</h3>
      </div>
    </div>
  </div>

</div>

<%= javascript_include_tag('static_pages.js') %>
