<div id="editItemDiv">
	<h1>Editing Item</h1>
		<%= render 'form', item: @item %>
		<%= link_to 'Back To Picture Page', @item %> |  
		<%= link_to 'Delete Item', item_path(@item), method: :delete %>
</div>