#gallery {

	width: 700px;
	text-align: center;
	margin: 0 auto;

	ul {	

		list-style-type: none;

		li {

			width: 250px;
			height: 250px;
			margin: 0;

			li.galleryPic {
				background-size: cover;
    			height: 240px;
    			width: 240px;
    			display: inline-block;
    			margin-right: 5px;
    		}
    	}
	}
}