#gallery {

	width: 700px;
	text-align: center;
	margin: 0 auto;

	ul {	

		list-style-type: none;

		.galleryPic {
			background-size: cover;
    		height: 240px;
    		width: 240px;
    		display: inline-block;
    	}
	}
}