// gallery page (item index):
#gallery {

	width: 100%;
	text-align: center;
	margin: 0 auto;
	display: inline-block;

	ul {	

		list-style-type: none;
		width: 88%;
		margin: 0 auto;
		display: inline-block;

		li.galleryPic {

			background-size: cover;
			width: 250px;
			height: 250px;
			display: inline-block;
			margin: 0;
			margin-bottom: 90px;

			span.galleryPicTitle {

				vertical-align: -260px;
				width: 250px;
				height: 50px;
			}

			span.galleryPicArtist {

				vertical-align: -10px;
				width: 250px;
				height: 50px;
			}
    	}
	}
}
// end of gallery page

// picture page (item show):
#picturePage {
	width: 90%;
	text-align: center;
	margin: 0 auto;

	div#itemPicture img {
		height: 425px;
	}

	p.moreInfo {
		display: none;
	}
}
// end of picture page