// new sale page (checkout page):
#newSaleDiv {
	margin: 0 auto;
	text-align: center;

	#clearCartSpan {
		cursor: pointer;
	}
}

div#newSaleDiv {

	ul#saleThumbs {
	width: 100%;

		li.galleryPic {
			width: 100px;
			height: 100px;
		}
	}
	// margin: 0 auto;
	// display: inline-block;
}
// end of new sale (checkout) page

// sale index page (account page/edit user info page):
#accountPage {
	text-align: center;
	margin: 0 auto;

	.hideEditButton {
		display: block;
		margin: 0 auto;
	}

	.hiddenForm {
		border: 1px solid #bfbfbf;
		border-radius: 20px;
		width: 500px;
		padding: 30px;
		margin: 0 auto;
		display: none;
	}
}

#saleIndexDiv {
	text-align: center;
	margin: 0 auto;
}
// end of sale index page

// sale show page (checkout confirmation):
#saleShowDiv {
	text-align: center;
	margin: 0 auto;
}
// end of sale show page