// new sale page (checkout page):
div#newSaleDiv {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	display: inline-block;

	#clearCartSpan {
		cursor: pointer;
	}

	span.saleThumbs {
		list-style-type: none;
		width: 88%;
		margin: 0 auto;
		display: inline-block;
		margin-left: 0px;
		font-size: 10px;

		li.salePic {

			background-size: cover;
			width: 120px;
			height: 120px;
			display: inline-block;
			margin: 0;
			margin-bottom: 60px;

			span.salePicTitle {

				vertical-align: -130px;
				width: 120px;
				height: 20px;
			}

			span.salePicArtist {

				vertical-align: -5px;
				width: 120px;
				height: 20px;
			}
    	}
	}
}

#cartDiv {
		border: 1px solid #bfbfbf;
		border-radius: 20px;
		width: 500px;
		padding: 30px;
		margin: 0 auto;
		display: inline-block;
		margin-bottom: 20px;
}
// end of new sale (checkout) page

// sale index page (account page/edit user info page):
#accountPage {
	text-align: center;
	margin: 0 auto;

	.hideEditButton {
		display: block;
		margin: 0 auto;
	}

	.hiddenForm {
		border: 1px solid #bfbfbf;
		border-radius: 20px;
		width: 500px;
		padding: 30px;
		margin: 0 auto;
		display: none;
	}
}

#saleIndexDiv {
	text-align: center;
	margin: 0 auto;
}
// end of sale index page

// sale show page (checkout confirmation):
#saleShowDiv {
	text-align: center;
	margin: 0 auto;
}
// end of sale show page