<div id="newSaleDiv">
	<h1>Complete Your Purchase</h1>
		<u><h3>In Cart:</h3></u>
		<% if (session[:cart]||[]).length > 0 %>
			<% session[:cart].each do |id| %>
				<% ids = id.to_i %>
				<%= Item.find(ids).title %>
				<br>
			<% end %>
			<%= link_to "Clear Cart", delete_cart_path %>
		<% end %>
		<%= render 'form', sale: Sale.new(user_id: current_user.id) %>
</div>
